// background color for header
$pure-white: white;

// background color for parent container
$slate-gray: #EEEEEE; 

//circle color
$mustard-yellow:#F8C33C;

// triangle color
$brick-red:#c0392b;

// login container side panel color
$sea-green:#3EB7A6;