// .border
// {
//     border: 1px solid black;
// }
body{
    margin: 0;
    padding: 0;
    // font-size: 62.5%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    box-shadow: 4px 4px 4px gray
}
.menu-bar
{
    // margin: auto;
    ul{
        display:inline-flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li{        
        background-color:#F5F3F3 ;
        margin: 0 1px;
        border: 1px solid #173570 ;
        a{            
            text-decoration: none;
            div{
                height: 40px;
                width: 170px;
                color: black;
                // padding: 5px; 
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                span{
                    color: rgb(53, 53, 53);
                }
            }     
        }
    }
    li:first-child{
        border-radius: 10px 0 0 10px;
    }
    li:last-child{
        border-radius: 0 10px 10px 0;
    } 
    li:hover ul{
        display: unset;
    }

    ul ul{
        display: none;
    }
    
}

.logout-button
{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color: #173570;
    color:white;
    
}
.logout-button:hover{
    background-color: darken($color: #173570, $amount: 5%);
    cursor: pointer;
}